html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    min-width: 320px;
    font-size: 15px;
    line-height: 19px;
    @include a400;
    color: #141414;

}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: transparent;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

// breadcrumbs=====================================================================================
.breadcrumbs {
    position: relative;
    z-index: 0;
    white-space: nowrap;

    &__text {
        position: relative;
        padding: 20px 0;
        font-size: 13px;
        color: #afafaf;

        &::after {
            position: absolute;
            bottom: 18px;
            left: 0;
            width: 95%;
            height: 1px;
            content: '';
            background-color: #afafaf;
        }

        &:last-child::after {
            height: 0;
        }

        &+& {
            margin-left: 30px;

            &::before {
                position: absolute;
                left: -20px;
                content: '>';
            }
        }
    }
}

//end breadcrumbs=====================================================================================

//start header===================================================================================
.header {
    z-index: 1;
    padding-top: 15px;
    background-image: url(../images/header-bg.jpg);
    @include img;

    &__top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68.5px;
        padding-bottom: 15px;
    }

    &__address {
        flex-basis: 195px;
        margin-right: 15px;
        margin-left: 127px;
        font-size: 13px;
        color: $gray;
    }

    &__wrapper-text {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: 63px;
        font-size: 14px;
        color: $gray;
    }

    &__text--bold {
        @include a700;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
        margin-left: 54px;
    }

    &__search-icon {
        transition: stroke 0.3s;
    }

    &__search-handle {
        transition: fill 0.3s;
    }

    &__search {
        &:hover {
            .header__search-icon {
                stroke: $orange;
            }

            .header__search-handle {
                fill: $orange;
            }
        }

        &--off {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__center {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 50px;
    }

    &__nav {
        flex-basis: 945px;
        padding-right: 26px;
        font-size: 14px;
        letter-spacing: 2.1px;
        @include a600;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-transform: uppercase;
        list-style: none;
    }

    &__icon {
        margin-top: -5px;
        transition: fill 0.3s;
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 16px 0;
        border-bottom: 1px solid transparent;
        @include trColor;

        &::before {
            position: absolute;
            bottom: 1px;
            width: 95%;
            height: 1px;
            content: '';
            transition: background-color 0.3s;
        }

        &:hover {
            color: $blue;

            .header__icon {
                fill: $blue;
            }
        }

        &:hover::before {
            background-color: $blue;
        }
    }

    &__icon-plus {
        margin-right: 5px;
        transition: fill 0.3s;
    }

    &__calculating {
        position: relative;
        display: block;
        padding: 16px 29px 15px 30px;
        font-size: 16px;
        white-space: nowrap;
        @include a700;
        color: #fff;
        background-color: $blue;
        border-radius: 3px;
        @include trColor;

        &:hover {
            color: #363636;
            background-color: $orange;

            .header__icon-plus {
                fill: #363636;
            }
        }
    }

    &__breadcrumbs {
        margin-top: 15px;
    }

    &__bottom {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding-top: 30px;
    }

    &__desc {
        flex-basis: 490px;
        padding-top: 25px;
        padding-left: 18px;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 45px;
        line-height: 54px;
        @include b700;
        letter-spacing: 0.9px;
    }

    &__subtitle {
        max-width: 486px;
        margin-bottom: 55px;
        line-height: 21px;
    }

    &--changed {
        .header {
            &__nav {
                border: none;
            }

            &__bottom {
                justify-content: space-between;
            }

            &__desc {
                flex-basis: 569px;
                padding-left: 0;
            }

            &__subtitle {
                margin-bottom: 29px;
            }
        }
    }
}

//end header=====================================================================================
// dropdown-menu=====================================================================================
.dropdown-menu {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: none;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: $blue;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px $blue;

    &__inner {
        position: absolute;
        top: 25px;
        width: 40px;
        height: 4px;
        background-color: #fff;

        &::after,
        &::before {
            position: absolute;
            left: 0;
            height: 4px;
            content: '';
            background-color: #fff;
        }

        &::after {
            top: -10px;
            width: 40%;
            transition: transform 0.3s, top 0.3s, width 0.3s;
        }

        &::before {
            top: 10px;
            width: 70%;
            transition: width 0.3s;
        }

        &--close {
            transition: transform 0.3s;
            transform: rotate(45deg);

            &::before {
                width: 0;
            }

            &::after {
                top: 0;
                width: 100%;
                transform: rotate(85deg);
            }
        }
    }
}

//end dropdown-menu=====================================================================================
//start product===================================================================================
.products {
    padding: 75px 0 81px;
}

//end product===================================================================================
//start notice=====================================================================================

.notice {
    position: relative;
    padding: 14px 27px 14px 42px;
    font-size: 15px;
    line-height: 21px;
    color: #575757;
    background-color: #ffe7d1;
    border-radius: 3px;

    &::before {
        position: absolute;
        top: 18px;
        left: 21px;
        width: 8px;
        height: 30px;
        content: '';
        background-image: url(../images/exclamation.svg);
        @include img;
    }

    &__text {
        @include a600;
    }
}

//end notice=====================================================================================

//start search=====================================================================================
.search {
    position: absolute;
    top: 0;
    right: 47px;
    z-index: 4;
    width: 100%;
    max-width: 901px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    &--active {
        visibility: visible;
        opacity: 1;
    }

    &__input {
        width: 100%;
        height: 50px;
        padding-right: 30px;
        padding-left: 23px;
        border: 2px solid #e2e2e2;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }

    &__list {
        display: none;
        padding: 10px 23px;
        list-style: none;
        background-color: #fff;
        border-right: 2px solid #e2e2e2;
        border-bottom: 2px solid #e2e2e2;
        border-left: 2px solid #e2e2e2;

        &--active {
            display: block;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 9.5px 0;
        font-size: 16px;
        @include a600;
        color: $blue;
        transition: color 0.3s;

        &::before {
            position: absolute;
            bottom: 6px;
            width: 100%;
            height: 1px;
            content: '';
            background-color: $blue;
            transition: background-color 0.3s;
        }

        &:hover {
            color: $orange;
        }

        &:hover::before {
            background-color: $orange;
        }
    }

    &__btn-close {
        position: absolute;
        top: 11px;
        right: -47px;
    }
}

//end search=====================================================================================
//start phone=====================================================================================
.phone {
    font-size: 16px;
    @include a700;
}

//end phone=======================================================================================

//start btn-link=================================================================================
.btn-link {
    padding: 15px 39px;
    font-size: 16px;
    @include a700;
    background-color: $orangeBg;
    border-radius: 3px;
    @include trColor;

    &:hover {
        color: #fff;
        background-color: $blue;
    }
}

//end btn-link=================================================================================
//start btn-modal=================================================================================
.btn-modal {
    font-size: 16px;
    @include a600;
    color: $blue;
    border-bottom: 2px solid $blue;
    transition: color 0.3s, border-bottom 0.3s;

    &:hover {
        color: $orange;
        border-bottom: 2px solid $orange;
    }

    &--orange {
        color: $orangeBg;
        border-bottom: 2px solid $orange;
    }

    &--small {
        font-size: 15px;
        border-width: 1px;
    }
}

//end btn-modal===================================================================================

//start title===================================================================================
.title {
    font-size: 40px;
    line-height: 56px;
    @include b700;

    &__arrow {
        position: absolute;
        top: 12px;
        right: 0;
        transition: fill 0.3s;
    }

    &__inner {
        position: relative;
        display: inline-block;

        &:hover {
            .title__arrow {
                fill: $orange;
            }
        }
    }

    &--blue {
        position: relative;
        z-index: 3;
        margin-right: 20px;
        color: $blue;
        transition: color 0.3s;

        &::before {
            position: absolute;
            bottom: 6px;
            width: 100%;
            height: 1px;
            content: '';
            background-color: $blue;
            transition: background-color 0.3s;
        }

        &:hover {
            color: $orange;

            &::before {
                background-color: $orange;
            }
        }
    }
}

//end title=====================================================================================

//start footer====================================================================================
.footer {
    padding: 58px 0 51px;
    color: #fff;
    background-color: #141414;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        max-width: 288px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 12.6px;
    }

    &__copy-text {
        margin-top: 33px;
        font-size: 14px;
        line-height: 16.8px;
        color: #575757;
    }

    &__nav {
        width: 100%;
        max-width: 442px;
        padding-top: 5px;
    }

    &__list {
        column-gap: 0;
        list-style: none;
        column-count: 2;
    }

    &__list-item {
        margin-bottom: 15px;
    }

    &__link {
        padding: 10px 0;
        font-size: 14px;
        line-height: 16.8px;
        @include a600;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        transition: color 0.3s;

        &:hover {
            color: $orangeBg;
        }
    }

    &__arrow {
        margin-left: 5px;
        transition: fill 0.3s;
    }

    &__btn {
        font-size: 14px;
        line-height: 16.8px;
        @include a600;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        white-space: nowrap;
        transition: color 0.3s;

        &:hover {
            color: $orangeBg;
        }
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &:hover .footer__arrow {
            fill: $blue;
        }

        &:hover .btn-modal {
            color: $blue;
            border-bottom: 2px solid $blue;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 236px;
        padding-top: 10px;
    }
}

//end footer======================================================================================

//start text======================================================================================
.text {
    font-size: 13px;
    line-height: 18.2px;
    color: #afafaf;

    &:nth-child(even) {
        margin-bottom: 5px;
    }

    &--space {
        display: block;
    }

    &--darkgray {
        display: inline-block;
        margin-top: 32px;
        font-size: 14px;
        line-height: 16.8px;
        color: #575757;
        border-bottom: 1px solid #575757;
        transition: border-bottom 0.3s, color 0.3s;

        &:hover {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }
}

//end text======================================================================================

// button-return
.button-return {
    position: fixed;
    z-index: 3;
    right: -50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: $blue;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px #fff;
    opacity: 0;
    transition: right 1s, opacity 1s, transform 0s 1s;

    &--active {
        right: 50px;
        opacity: 1;
        transition: right 1.2s, opacity 1.2s, transform 0.3s 1.2s;
        transform: rotate(90deg);
    }

    &__arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--active {
            animation: moveButtonReturnStart 2s infinite;
        }

    }
}

//end button-return
//start feedback======================================================================================
.feedback {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(#000, 0.5);
    opacity: 0;
    transition: opacity 0.3s;

    &--active {
        visibility: visible;
        opacity: 1;
    }

    &__notification {
        position: absolute;
        top: 15%;
        left: 50%;
        width: 100%;
        max-width: 600px;
        padding: 30px;
        background-color: #575757;
        transform: translate(-50%, -50%);
        color: #fff;
        box-shadow: 0 0 10px 5px #fff;
        font-size: 40px;
        line-height: 50px;
        @include b700;
        transform: rotateY(-90deg);
        transition: transform 0.5s 0.5s;

        &--done {
            transform: rotateY(0deg);
        }
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 30px;
        width: 44px;
        height: 44px;
        padding: 9px;
        cursor: pointer;
        transition: transform 0.5s;

        &:hover {
            transform: rotate(90deg);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 30px 92px 38px;
        background-color: #f5f5f5;
    }

    &__inner {
        position: absolute;
        top: 35%;
        left: 50%;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 555px;
        opacity: 0;
        transition: top 0.3s, opacity 0.5s;
        transform: translate(-50%, -50%);

        &--active {
            top: 50%;
            opacity: 1;
        }

        &--large {
            max-width: 756px;
            transform: translate(-50%, -50%) scale(0.78);
        }

        &--done {
            transition: transform 0.5s;
            transform: translate(-50%, -50%) rotateY(90deg) !important;
        }
    }

    &__input {
        max-width: 370px;
        margin-bottom: 10px;
        transition: border 0.3s;
    }

    &__textarea {
        margin-bottom: 20px;
    }
}

//end feedback======================================================================================
//title modal feedback======================================================================================
.modal-title {
    padding: 13px 5px 6px;
    font-size: 40px;
    line-height: 56px;
    @include b700;
    color: #fff;
    text-align: center;
    background-color: #575757;
}

//end title modal feedback======================================================================================
// modal feedback======================================================================================
.modal-btn {
    display: block;
    padding: 14px 16px;
    margin-bottom: 15px;
    font-size: 16px;
    @include a700;
    background-color: $orangeBg;
    border-radius: 3px;
    @include trColor;

    &:hover {
        color: #fff;
        background-color: $blue;
    }
}

//end modal feedback======================================================================================
//modal input======================================================================================

.input {
    height: 50px;
    padding: 0 23px;
    border: 2px solid #e2e2e2;
    transition: border 1s;

    &::placeholder {
        font-size: 15px;
        line-height: 21px;
        color: #575757;
    }

    &--big {
        width: 100%;
        max-width: 282px;
        margin-bottom: 6px;
    }

    &--wrong {
        border: 3px solid rgb(189, 0, 0);
    }
}

//end modal input======================================================================================
// modal textarea======================================================================================
.textarea {
    max-width: 370px;
    height: 130px;
    padding-top: 15px;
    padding-left: 23px;
    resize: none;
    border: 2px solid #e2e2e2;

    &::placeholder {
        font-size: 15px;
        line-height: 21px;
        color: #575757;
    }

    &--big {
        width: 100%;
        max-width: 571px;
        margin-bottom: 19px;
    }
}

//end modal textarea======================================================================================

// modal checkbox======================================================================================
.checkbox-label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 19.6px;
    color: #575757;
    cursor: pointer;

    &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        background-color: #fff;
        border: 2px solid #e2e2e2;
        border-radius: 3px;
    }

    &--white {
        display: block;
        margin-top: 25px;
        color: #fff;
    }

    &--big {
        padding-top: 6px;
        padding-left: 39px;
        font-size: 13px;

        &::before {
            width: 30px;
            height: 30px;
        }
    }

    &--shake {
        animation: shake 0.5s;
    }
}

.checkbox {
    display: none;

    &:checked+.checkbox-label::before {
        background-color: $orangeBg;
        background-image: url(../images/check.png);
        background-repeat: no-repeat;
        background-position: center;
        border-color: #575757;
        transition: background-color 0.3s;
    }
}

//end modal checkbox======================================================================================

//end modal link======================================================================================
.link-modal {
    position: relative;
    display: inline-block;
    color: $blue;
    transition: color 0.3s;

    &::before {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        content: '';
        background-color: $blue;
        transition: background-color 0.3s;
    }

    &:hover {
        color: $orange;
    }

    &:hover::before {
        background-color: $orange;
    }

    &--orange {
        display: inline;
        color: $orange;
        border-bottom: 1px solid $orange;
        transition: border-bottom 0.3s, color 0.3s;

        &:hover {
            color: #575757;
            border-bottom: 1px solid #575757;
        }
    }
}

//modal link=====================================================================================

//modal calc======================================================================================
.calc {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 13px;
    color: #575757;

    &__wrapper {
        padding: 24px 93px 0;
    }

    &__inner {
        display: flex;
        column-gap: 10px;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e2e2e2;

        &--checkbox {
            column-gap: 35px;
            justify-content: flex-start;
            padding-bottom: 30px;
            border: none;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 135px;
        line-height: 18.2px;
    }

    &__input-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        margin-top: 4px;
    }

    &__print {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &__print-inner {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
        color: #b6b6b6;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        padding: 32px 93px 29px;
        background-color: #e2e2e2;
    }
}


//end modal calc======================================================================================
.jq-selectbox__select-text {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    height: 46px;
    padding-left: 20px;
    white-space: normal;
    background-color: #d5d5d5;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    overflow: visible;

    &::before {
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 15px;
        width: 20px;
        height: 10px;
        pointer-events: none;
        content: '';
        background-image: url(../images/icon-arrowDown.svg);
        background-repeat: no-repeat;
        @include img;
        transform: translateY(-50%);
    }


}

.jq-selectbox li {
    display: flex;
    align-items: center;
    height: 46px;
    padding-left: 20px;
    white-space: normal;
    background-color: #d5d5d5;
    transition: background-color 0.2s;
    cursor: pointer;
    border-top: 1px solid rgb(231, 231, 231);

    &:hover {
        background-color: rgb(238, 238, 238);
    }
}

// .jq-selectbox__dropdown {
//     height: 313px !important;
//     top: 100px !important;
//     border-bottom: 3px solid #8d8d8d;
// }

.jq-selectbox__dropdown ul {
    max-height: 313px;
    margin-top: 46px;
    border-bottom: 3px solid #8d8d8d;
}

//modal select======================================================================================
.select {
    position: relative;

    &__label {
        display: block;
        margin-bottom: 15px;
    }

    .disabled {
        display: none;
    }

    &__item {
        position: relative;
        height: 46px;
        font-size: 14px;
        white-space: normal;

        &::before {
            position: absolute;
            top: 50%;
            left: 15px;
            display: flex;
            align-items: center;
            width: 38px;
            height: 38px;
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-50%);
        }

        &--film::before {
            background-image: url(../images/content/film-mini.png);
        }

        &--shirt::before {
            background-image: url(../images/content/package-2.png);
        }

        &--handler::before {
            background-image: url(../images/content/package-3.png);
        }

        &--cellophane::before {
            background-image: url(../images/content/package-4.png);
        }

        &--tire::before {
            background-image: url(../images/content/package-5.png);
        }

        &--garbage::before {
            background-image: url(../images/content/package-6.png);
        }

        &--med::before {
            background-image: url(../images/content/package-7.png);
        }

        &--liners::before {
            background-image: url(../images/content/package-8.png);
        }

        &--clothes::before {
            background-image: url(../images/content/package-9.png);
        }

        &--perforation::before {
            background-image: url(../images/content/package-10.png);
        }

        &--typical::before {
            background-image: url(../images/content/package-11.png);
        }

        &--offer::before {
            content: '%';
        }

    }

    &__inner {
        display: flex;
        justify-content: flex-start;
    }

    &:first-child {
        .jq-selectbox__select-text {
            width: 240px;
            padding: 5px 46px 7px 59px;
        }

        .jq-selectbox li {
            width: 240px;
            padding: 5px 46px 7px 59px;
        }
    }

    &:nth-child(2) {
        .jq-selectbox__select-text {
            width: 130px;
        }

        .jq-selectbox li {
            width: 130px;
        }
    }

    &:last-child {
        .jq-selectbox__select-text {
            width: 180px;
        }

        .jq-selectbox li {
            width: 180px;
        }
    }
}

//end modal select======================================================================================

// packages-item======================================================================================
.packages-item {
    flex-basis: calc(25% - 10px);
    padding: 15px 20px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #575757;
    border: 1px solid #e2e2e2;

    &__img {
        margin-bottom: 13px;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 22.4px;
        text-align: left;
        @include a700;
    }

    &__desc {
        display: flex;
        justify-content: flex-start;
        padding-top: 6px;
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 18.2px;
        text-align: left;

        &+& {
            border-top: 1px solid #e2e2e2;
        }
    }

    &__btn-link {
        width: 100%;
        margin-top: 18px;
    }

    &__text {
        display: inline-block;
        width: 100%;
        max-width: 144px;
        @include a600;
    }
}

//end packages-item======================================================================================
// sp-offer======================================================================================

.sp-offer {
    padding-bottom: 100px;

    &__title {
        margin: 10px 0 20px;
    }

    &__text {
        max-width: 1152px;
        margin-bottom: 25px;
        line-height: 21px;
        color: #575757;
    }

    &__notice {
        padding: 20px 42px;
        margin-bottom: 25px;
    }

    &__inner {
        margin-bottom: 40px;
    }

    &__row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e2e2e2;

        &--title {
            padding-bottom: 15px;
            margin-bottom: 5px;
            border-bottom: 2px solid #141414;
        }
    }

    &__title-name {
        width: 16.666666667%;
        font-size: 16px;
        line-height: 22.4px;
        @include a700;
    }

    &__content {
        position: relative;
        padding: 10px 10px 10px 0;
        width: 16.666666667%;
        font-size: 13px;
        color: #575757;

        &--bold {
            display: block;
            font-size: 15px;
            line-height: 21px;
            @include a600;
            color: #141414;
        }

        &--transparent,
        &--white {
            padding-left: 30px;

            &::before {
                position: absolute;
                left: 0;
                background-image: url(../images/round-crossed.svg);
                width: 20px;
                height: 20px;
                content: '';
            }
        }

        &--white::before {
            background-image: url(../images/round.svg);
        }

        &--blue {
            font-size: 16px;
            line-height: 22.4px;
            @include a700;
            color: $blue;
        }

        &--crossed {
            text-decoration: line-through;
        }
    }
}

//end sp-offer======================================================================================
// contact======================================================================================

.contact {
    &__title {
        margin: 10px 0 20px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        width: 100%;
        max-width: 740px;
        padding-right: 20px;
    }

    &__address {
        font-style: normal;
    }

    &__row {
        display: flex;
        padding: 15px 0;
        font-size: 16px;
        @include a700;
        line-height: 22.4px;
        color: #575757;

        &+& {
            border-top: 1px solid #e2e2e2;
        }
    }

    &__text {
        width: 100%;
        max-width: 195px;
        color: #141414;
    }

    &__link {
        color: $blue;
    }

    &__img-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 386px;
    }

    &__img {
        display: block;
        width: 100%;
        max-width: 188px;
    }
}

//end contact======================================================================================
// map======================================================================================
.map {
    padding: 45px 0 90px;

    &__img {
        display: block;
        width: 100%;
    }
}

//end map======================================================================================
// requisites======================================================================================

.requisites {
    padding: 45px 0;
    background-color: #f5f5f5;

    &__title-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: 2px solid #141414;
    }

    &__title {
        font-size: 16px;
        @include a700;
    }

    &__download {
        position: relative;
        padding-right: 15px;
        font-size: 16px;
        @include a600;
        color: $blue;

        &::before {
            position: absolute;
            right: 0;
            top: 2px;
            content: '';
            background-image: url(../images/arrowDown.svg);
            @include img;
            width: 10px;
            height: 12px;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__list-wrapper {
        width: 50%;

        &+& {
            margin-left: 45px;
        }
    }

    &__row {
        display: flex;
        padding: 10px 0;
        font-size: 13px;
        color: #575757;

        &+& {
            border-top: 1px solid #e2e2e2;
        }
    }

    &__text {
        display: inline-block;
        width: 100%;
        max-width: 188px;
        font-size: 15px;
        color: #141414;
    }
}

//end requisites======================================================================================