@import "fonts";
@import "vars";
@import "keyframes";
@import "global";

//start header===================================================================================
.header {
    background-image: url(../images/typical-bg.jpg);
}

//end header=====================================================================================
// packeges=====================================================================================

.packages {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;

    &__title {
        padding-bottom: 8px;
        margin-bottom: 31px;
        font-size: 20px;
        line-height: 28px;
        @include a700;
        border-bottom: 2px solid #141414;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        text-align: center;
    }

    &__box {
        transition: transform 1s, opacity 1s, height 1s;

        &--disable {
            opacity: 0;
            transform: rotate(135deg) translateX(100%) scale(0);
        }
    }
}

//end packeges=====================================================================================
// sort=====================================================================================

.sort {
    margin-bottom: 33px;

    &__btn {
        height: 35px;
        padding: 0 20px;
        font-size: 13px;
        color: #575757;
        background-color: #d3d8ff;
        border-radius: 20px;
        @include trColor;

        &+& {
            margin-left: 10px;
        }

        &--active,
        &:hover {
            color: #fff;
            background-color: $blue;
        }
    }
}

//end sort=====================================================================================

@import "media";

@media (max-width: 768px) {
    .header__list--active {
        transform: translateX(-15px);
    }

    .header__calculating {
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .header__list--active {
        width: 110%;
    }
}
