@import "fonts";
@import "vars";
@import "global";

//start header===================================================================================
.header {
    background-image: url(../images/typical-bg.jpg);
}

//end header=====================================================================================
// packeges=====================================================================================

.packages {
    padding-top: 50px;

    &__title {
        padding-bottom: 8px;
        margin-bottom: 31px;
        font-size: 20px;
        line-height: 28px;
        @include a700;
        border-bottom: 2px solid #141414;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-left: -10px;
        text-align: center;
    }

    &__box {
        height: 100%;
        transition: transform 0.3s, opacity 0.3s, height 0.3s;

        &--disable {
            transform: rotate(0deg) translateX(100%) scale(0);
            opacity: 0;
            height: 0;
        }
    }
}

//end packeges=====================================================================================
// sort=====================================================================================

.sort {
    margin-bottom: 33px;

    &__btn {
        height: 35px;
        padding: 0 20px;
        font-size: 13px;
        color: #575757;
        background-color: #d3d8ff;
        border-radius: 20px;
        @include trColor;

        &+& {
            margin-left: 10px;
        }

        &--active,
        &:hover {
            color: #fff;
            background-color: $blue;
        }
    }
}

//end sort=====================================================================================

@import "media";