    <!-- start footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__col">
                    <a class="footer__logo logo" href="#">
                        <img class="logo__img" src="images/logo-footer.png" alt="logo">
                    </a>
                    <p class="footer__text text">
                        Компания «Европласт» основана в 2002 году и является предприятием- производителем полиэтиленовых
                        пакетов, пленки и другой полимерной упаковки.
                    </p>
    
                    <div class="footer__copy-text">
                        COPYRIGHT© 2002-2020 «ЕВРОПЛАСТ»
                    </div>
                </div>
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a class="footer__link" href="#">Продукция</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__link" href="#">О компании</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__link" href="#">Производство</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__link" href="#">Как выбрать?</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__link" href="#">Новости</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__link" href="#">Контакты</a>
                        </li>
                        <li class="footer__list-item">
                            <button class="footer__btn btn-calc">рассчитать стоимость</button>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contact">
                    <a class="phone phone--white" href="tel:+78124263766">
                        8 (812) 426-37-66
                    </a>
                    <div class="footer__btn-wrapper">
                        <button class="btn-modal btn-modal--orange">
                            Обратная связь
                        </button>
                        <svg class="footer__arrow" width="14" height="12" viewBox="0 0 14 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path class="footer__arrow"
                                d="M1 5C0.447715 5 0 5.44772 0 6C0 6.55228 0.447715 7 1 7V5ZM13 6L13.7071 6.70711C14.0976 6.31658 14.0976 5.68342 13.7071 5.29289L13 6ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893C6.90237 0.683417 6.90237 1.31658 7.29289 1.70711L8.70711 0.292893ZM7.29289 10.2929C6.90237 10.6834 6.90237 11.3166 7.29289 11.7071C7.68342 12.0976 8.31658 12.0976 8.70711 11.7071L7.29289 10.2929ZM1 7H13V5H1V7ZM13.7071 5.29289L8.70711 0.292893L7.29289 1.70711L12.2929 6.70711L13.7071 5.29289ZM12.2929 5.29289L7.29289 10.2929L8.70711 11.7071L13.7071 6.70711L12.2929 5.29289Z"
                                fill="#FFAC5F" />
                        </svg>
                    </div>
                    <span class="text">
                        Санкт-Петербург, <span class="text text--space"> Дальневосточный пр. 13/3 </span>
                    </span>
                    <span class="text">
                        Отдел продаж: Пн-Пт с 9:00 до 17:00
                    </span>
                    <span class="text">
                        Склад: Пн-Пт с 9:30 до 16:30
                    </span>
                    <a class="text text--darkgray" href="#">
                        Политика конфедициальности
                    </a>
                </div>
            </div>
        </div>
    </footer> 
    <!-- end footer -->
<!-- start feedback -->
<div class="feedback" id="feedback">
    <div class="feedback__inner">
        <svg class="feedback__close" width="32" height="32" viewBox="0 0 32 32" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.939339 0.939343C0.353553 1.52513 0.353553 2.47488 0.939339 3.06066L3.06066 0.939342ZM28.9393 31.0607C29.5251 31.6464 30.4749 31.6464 31.0607 31.0607C31.6464 30.4749 31.6464 29.5251 31.0607 28.9393L28.9393 31.0607ZM0.939339 3.06066L28.9393 31.0607L31.0607 28.9393L3.06066 0.939342L0.939339 3.06066Z"
                fill="#898989" />
            <path
                d="M31.0607 3.06066C31.6464 2.47487 31.6464 1.52513 31.0607 0.93934C30.4749 0.353554 29.5251 0.353554 28.9393 0.93934L31.0607 3.06066ZM0.939341 28.9393C0.353554 29.5251 0.353555 30.4749 0.939341 31.0607C1.52513 31.6464 2.47487 31.6464 3.06066 31.0607L0.939341 28.9393ZM28.9393 0.93934L0.939341 28.9393L3.06066 31.0607L31.0607 3.06066L28.9393 0.93934Z"
                fill="#898989" />
        </svg>
        <div class="modal-title">
            Обратная связь
        </div>
        <form class="feedback__form">
            <input class="feedback__input input" type="text" name="Name" placeholder="Имя" autocomplete="off">
            <input class="feedback__input input" type="text" name="Contact" placeholder="Телефон или e-mail"
                autocomplete="off">
            <textarea class="feedback__textarea textarea" name="Message" placeholder="Комментарий"></textarea>
            <button class="modal-btn">
                Отправить
            </button>
            <input class="checkbox" type="checkbox" id="feedCheck">
            <label class="checkbox-label" for="feedCheck">
                Нажимая на кнопку "отправить", вы соглашаетесь на обработку персональных данных в соответствии с <a
                    class="link-modal" href="#"> политикой конфиденциальности.</a>
            </label>
        </form>

    </div>
</div>

<div class="feedback" id="calculating">
  <div class="feedback__inner feedback__inner--large">
        <svg class="feedback__close" width="32" height="32" viewBox="0 0 32 32" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.06066 0.939342C2.47487 0.353556 1.52513 0.353556 0.939339 0.939343C0.353553 1.52513 0.353553 2.47488 0.939339 3.06066L3.06066 0.939342ZM28.9393 31.0607C29.5251 31.6464 30.4749 31.6464 31.0607 31.0607C31.6464 30.4749 31.6464 29.5251 31.0607 28.9393L28.9393 31.0607ZM0.939339 3.06066L28.9393 31.0607L31.0607 28.9393L3.06066 0.939342L0.939339 3.06066Z"
                fill="#898989" />
            <path
                d="M31.0607 3.06066C31.6464 2.47487 31.6464 1.52513 31.0607 0.93934C30.4749 0.353554 29.5251 0.353554 28.9393 0.93934L31.0607 3.06066ZM0.939341 28.9393C0.353554 29.5251 0.353555 30.4749 0.939341 31.0607C1.52513 31.6464 2.47487 31.6464 3.06066 31.0607L0.939341 28.9393ZM28.9393 0.93934L0.939341 28.9393L3.06066 31.0607L31.0607 3.06066L28.9393 0.93934Z"
                fill="#898989" />
        </svg>
        <div class="modal-title">
            Расчет стоимости
        </div>
        <form class="feedback__form calc">
            <div class="calc__wrapper">
                <div class="calc__inner">
                    <div class="select">
                        <select class="select__inner" name="Тип упаковки">
                            <option selected disabled>Выберите тип упаковки</option>
                            <option>Полиэтиленовая пленка</option>
                            <option>Пакеты «Майка»</option>
                            <option>Пакеты с прорубной ручкой</option>
                            <option>Фасовочные пакеты</option>
                            <option>Пакеты для колес</option>
                            <option>Мешки для мусора</option>
                            <option>Пакеты для медотходов</option>
                            <option>Вкладыши в короба</option>
                            <option>Пакеты для хранения одежды</option>
                            <option>Пакеты с перфорацией</option>
                            <option>Типовые пакеты</option>
                            <option>Спецпредложения</option>
                        </select>
                    </div>
                    <div class="select">
                        <select class="select__inner" name="Тип пленки:">
                            <option selected disabled>Выберите материал</option>
                            <option>ПНД</option>
                            <option>ПВД</option>
                        </select>
                    </div>
                    <div class="select">
                        <select class="select__inner" name="Цвет пленки:" disabled>
                            <option selected disabled>Выберите цвет</option>
                            <option>Белый</option>
                            <option>Черный</option>
                        </select>
                    </div>
                </div>
                <div class="calc__inner">
                    <label class="calc__label" for="thickness">
                        Толщина (мкм):
                        <input class="calc__input input" id="thickness" type="text" name="Толщина" autocomplete="off">
                    </label>
                    <label class="calc__label" for="width">
                        Ширина (мм):
                        <input class="calc__input input" id="width" type="text" name="Ширина" autocomplete="off">
                    </label>
                    <label class="calc__label" for="height">
                        Высота (мм):
                        <input class="calc__input input" id="height" type="text" name="Высота" autocomplete="off">
                    </label>
                    <label class="calc__label" for="number">
                        Тираж (шт.):
                        <input class="calc__input input" id="number" type="text" name="Тираж" autocomplete="off">
                    </label>
                </div>
                <div class="calc__inner">
                    <label class="calc__label" for="bottomFold">
                        Донная складка (мм):
                        <input class="calc__input input" id="bottomFold" type="text" name="Донная складка"
                            autocomplete="off">
                    </label>
                    <label class="calc__label" for="fold">
                        Фальцы (боковая складка) (мм):
                        <input class="calc__input input" id="fold" type="text" name="Фальцы" autocomplete="off">
                    </label>
                    <div class="calc__print">
                        Количество цветов печати:
                        <div class="calc__print-inner">
                            <label class="calc__label" for="height">
                                Лицевая сторона
                                <input class="calc__input input" id="height" type="text" name="Высота"
                                    autocomplete="off">
                            </label>
                            <label class="calc__label" for="number">
                                Оборотная сторона
                                <input class="calc__input input" id="number" type="text" name="Тираж"
                                    autocomplete="off">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="calc__inner calc__inner--checkbox">
                    <input class="checkbox" type="checkbox" id="material" name="Биоразлагаемый">
                    <label class="checkbox-label checkbox-label--big" for="material">
                        Биоразлагаемый
                    </label>
                    <input class="checkbox" type="checkbox" id="handle">
                    <label class="checkbox-label checkbox-label--big" for="handle" name="Усиленная ручка">
                        Усиленная ручка
                    </label>
                </div>
            </div>
            <div class="calc__bottom">
                <div class="calc__input-wrapper">
                    <input class="input input--big" type="text" name="Name" placeholder="Имя" autocomplete="off">
                    <input class="input input--big" type="text" name="Contact" placeholder="Телефон или e-mail"
                        autocomplete="off">
                </div>
                <textarea class="textarea textarea--big" name="Message" placeholder="Комментарий"></textarea>
                <button class="modal-btn">
                    Отправить
                </button>
                <input class="checkbox" type="checkbox" id="calcCheck">
                <label class="checkbox-label" for="calcCheck">
                    Нажимая на кнопку "отправить", вы соглашаетесь на обработку персональных данных в соответствии с <a
                        class="link-modal" href="#"> политикой конфиденциальности.</a>
                </label>
            </div>
        </form>
    </div>
</div>

<!-- end feedback -->