<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Европласт</title>
    <link rel="preload" href="fonts/AvenirNextCyr-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/AvenirNextCyr-Demi.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/AvenirNextCyr-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/BebasNeueBold.woff2" as="font" type="font/woff2" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">